// IMPORTS
// =====================

// COLORS
// =====================
$background-cream: #FDF9EE;
$charcoal-dark: #333333;
$charcoal-medium: #575757;
$charcoal-light: #7B7B7B;
$charcoal-ultra-light: #C2C2C2;
$emphasis-red: #B6000F;

$serebii-green: #507C36;
$showdown-light-blue: #F1F4F9;
$showdown-border-gray: #AAAAAA;

$bad-type-interaction-background: rgb(238, 202, 207);
$bad-type-interaction-font: rgb(142, 27, 21);
$good-type-interaction-background: rgb(207, 237, 209);
$good-type-interaction-font: rgb(43, 95, 23);
$no-type-interaction-background: rgb(174, 170, 170);
$no-type-interaction-font: rgb(0, 0, 0);

$battle-renderer-aspect-ratio: (640 / 360);

// GLOBALS
// =====================
body {
  margin: 0;
  padding: 0;
}

a, input, textarea {
  all: unset;
  display: block;
}

* {
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  border: 1px solid black;
}

h1, h2, h3, h4, h5, h6, p, hr, pre, a, input, span {
  font-family: "Verdana";
  margin: 0;
}

a, button {
  cursor: pointer;
}

hr {
  width: 100%;
}

.Container {
  min-height: 100vh;
  background-color: $background-cream;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.App {
  width: 100%;
  min-height: 100vh;
  max-width: 1280px;
  padding-left: 64px;
  padding-right: 64px;
  background-color: $background-cream;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-spacer {
  flex: 1;
}

// LAYOUTS
// =====================
$pokemon-data-table-header-row-height: 42px;
$pokemon-data-table-data-row-height: 60px;
$pokemon-number-cell-width: 7%;
$pokemon-image-cell-width: 5%;
$pokemon-ident-cell-width: 12%;
$pokemon-type-cell-width: 12%;
$pokemon-abilities-cell-width: 14%;
$pokemon-base-stats-cell-width: 50%;

// COMPONENTS
// =====================
.Header {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .branding {
    img.logo {
      width: 160px;
    }
  }

  .navigation-links {
    display: flex;
    flex-direction: row;
    .navigation-link {
      font-weight: 400;
      font-size: 16px;
      color: $charcoal-medium;
      &:not(:first-child) {
        margin-left: 22px;
      }
      &.selected {
        font-weight: 500;
        color: $charcoal-dark;
      }
    }
  }
}

.button {
  height: 48px;
  background-color: $charcoal-dark;
  &.inverted {
    background-color: $background-cream;
    border: 1px solid $charcoal-dark;
    .button-text { color: $charcoal-dark; }
  }
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .button-text {
    font-size: 16px;
    font-weight: 500;
    color: $background-cream;
  }
}

.pokemon-data-table {
  height: 100%;
  max-height: 2000px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: mistyrose;

  .pokemon-header-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: $pokemon-data-table-header-row-height;

    .pokemon-header-item {
      background-color: $serebii-green;
      line-height: $pokemon-data-table-header-row-height;
      text-align: center;
      font-weight: bold;
      color: $charcoal-ultra-light;

      &.pokemon-base-stats {
        line-height: calc(0.5 * $pokemon-data-table-header-row-height);
      }
    }

    .pokemon-header-item.index-number { width: $pokemon-number-cell-width; }
    .pokemon-header-item.pokemon-image { width: $pokemon-image-cell-width; }
    .pokemon-header-item.pokemon-ident { width: $pokemon-ident-cell-width; }
    .pokemon-header-item.pokemon-type { width: $pokemon-type-cell-width; }
    .pokemon-header-item.pokemon-abilities { width: $pokemon-abilities-cell-width; }
    .pokemon-header-item.pokemon-base-stats {
      width: $pokemon-base-stats-cell-width;
      .pokemon-base-stats-secondary {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        .pokemon-base-stats-secondary-cell {
          width: 14.2857%;
        }
      }
    }
  }

  &.no-base-stats {
    .pokemon-header-item.index-number { width: $pokemon-number-cell-width * 2; }
    .pokemon-header-item.pokemon-image { width: $pokemon-image-cell-width * 2; }
    .pokemon-header-item.pokemon-ident { width: $pokemon-ident-cell-width * 2; }
    .pokemon-header-item.pokemon-type { width: $pokemon-type-cell-width * 2; }
    .pokemon-header-item.pokemon-abilities { width: $pokemon-abilities-cell-width * 2; }

    .pokemon-data-row {
      .index-number { width: $pokemon-number-cell-width * 2; }
      .pokemon-image-display { width: $pokemon-image-cell-width * 2; }
      .pokemon-ident { width: $pokemon-ident-cell-width * 2; }
      .pokemon-type-display { width: $pokemon-type-cell-width * 2; }
      .pokemon-abilities-display { width: $pokemon-abilities-cell-width * 2; }
    }
  }

  .pokemon-data-row {
    &.clickable {
      cursor: pointer;
      &:hover {
        background-color: $charcoal-light;
      }
    }
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: $pokemon-data-table-data-row-height;

    .index-number {
      width: $pokemon-number-cell-width;
      text-align: center;
    }
    .pokemon-image-display {
      width: $pokemon-image-cell-width;
      height: 100%;
      display: flex;
      flex-direction: center;
      justify-content: center;
      align-items: center;
      .pokemon-image {
        height: 80%;
      }
    }
    .pokemon-ident {
      width: $pokemon-ident-cell-width;
      text-align: center;
    }
    .pokemon-type-display {
      width: $pokemon-type-cell-width;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .pokemon-type:not(:first-child) {
        margin-left: 2.5px;
      }
    }
    .pokemon-abilities-display {
      width: $pokemon-abilities-cell-width;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    .pokemon-base-stats-display {
      width: $pokemon-base-stats-cell-width;
      display: flex;
      flex-direction: row;
      align-items: center;
      .base-stat {
        width: 14.2857%;
        text-align: center;
      }
    }

  }
}

.generic-data-table {
  height: 100%;
  max-height: 2000px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: mistyrose;

  .generic-header-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: $pokemon-data-table-header-row-height;

    .generic-header-item {
      width: 100%;
      background-color: $serebii-green;
      line-height: $pokemon-data-table-header-row-height;
      text-align: center;
      font-weight: bold;
      color: $charcoal-ultra-light;
    }
  }

  .generic-data-row {
    &.clickable {
      cursor: pointer;
      &:hover {
        background-color: $charcoal-light;
      }
    }
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 24px;
    height: 24px;
  }
}

.pokemon-team-display {

  .team-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p.team-name {
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input.team-name {
      height: 48px;
      text-align: center;
    }

  }

  .slots {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .slot {
      height: 100%;
      width: 16.6667%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .slot-title {
        text-align: center;
        margin-top: 10px;
      }

      .slot-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        img.pokemon-image {
          height: 100px;
        }
      }
    }
  }

  &.mode-index {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    &.horizontal {
      .pokemon-index-item {
        &:not(:first-child) {
          margin-left: 5px;
        }
      }
    }

    &.vertical {
      flex-direction: column;
      .pokemon-index-item {
        &:not(:first-child) {
          margin-top: 5px;
        }
      }
    }

    .pokemon-index-item {
      cursor: pointer;
      width: 130px;
      height: 65px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid black;
      &:hover { background-color: fade-out(lighten(yellow, 60%), 0.35); }
      &.active { background-color: lighten($serebii-green, 40%); }
      .pokemon-image {
        height: 70%;
      }
      .pokemon-ident {
        display: flex;
        height: 30%;
        justify-content: center;
        align-items: center;
        font-size: 12px;
      }

      &.add-new-pokemon {
        justify-content: center;
        align-items: center;
        .add-new-pokemon-icon {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
  }

  .pokemon-index-item {
    position: relative;

    &.field {
      background-color: fade-out(green, 0.75);
    }

    &.preview {
      background-color: gray;
    }

    &.graveyard {
      background-color: fade-out(red, 0.35);
    }

    &.party {
      background-color: lighten(gray, 33%);
    }
  }

  .hp-bar-container {
    position: absolute;
    top: 2px;
    left: 0;
    width: 25%;
    height: 8px;
    min-height: 8px;
    background-color: white;
    .current-hp {
      background-color: green;
      height: 100%;
    }
  }

}

.pokemon-build-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 630px;
  height: 130px;

  p.input-label {
    font-size: 12px;
    font-weight: 700;
  }

  input {
    width: 100%;
    height: 24px;
    border: 0px;
    background-color: white;
    box-shadow: inset 0 1px 2px #ccc, 1px 1px 0 rgb(255 255 255 / 60%);
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .input-data {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 24px;
    border: 0px;
    background-color: #ddd;
    box-shadow: inset 0 1px 2px #ccc, 1px 1px 0 rgb(255 255 255 / 60%);
    border-radius: 2px;
  }

  .section-meta {
    width: 60%;
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    img {
      max-height: 100%;
    }

    .row {
      height: calc(100% / 3);
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: stretch;

      &.row-3 {
        .section {
          width: 100%;
          margin-left: 3px;
          &:last-child {
            margin-right: 3px;
          }
        }
      }
    }

    .section-details, .section-types {
      display: flex;
      flex-direction: row;
    }
  }

  .section-moves {
    width: 20%;
    background-color: skyblue;

    .move-input, .move-data {
      margin-top: 4px;
    }

  }
  .section-stats {
    width: 20%;
    background-color: mistyrose;
  }

  .section-actions {

  }
}

.pokemon-build-editor, .pokemon-battle-state-editor, .pokemon-build-usage-data {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 428px;
  min-height: 528px;
  padding: 10px;
  background-color: $showdown-light-blue;
  border: 1px solid $showdown-border-gray;

  .data-group:not(.pokemon-meta) {
    margin-top: 14px;
  }

  input {
    background-color: white;
    border-radius: 2px;
    border: 1px solid $showdown-border-gray;
  }

  img.pokemon-sprite {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 100px;
  }

  .data-row {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .data-row-label {
      font-size: 14px;
      &.pokemon-nature {
        width: 65px;
      }
    }
  }

  .data-row-select-value {
    select {
      width: 70px;
      &.pokemon-select-list, &.pokemon-ability-select-list, &.pokemon-item-select-list, &.pokemon-status-select-list {
        width: 130px;
      }
      &.pokemon-nature-select-list {
        width: 155px;
      }
    }

    &.data-row-nature-select {
      margin-top: 10px;
      .data-row-label { text-align: start; }
    }
  }

  .data-row-input-value {
    input {
      width: 70px;
      padding-left: 3px;
      font-size: 14px;
      &.level {
        width: 35px;
      }
    }
  }

  .pokemon-meta {
    .pokemon-type {
      .pokemon-type-badge:nth-child(3) {
        margin-left: 5px;
      }
    }
  }

  .pokemon-stats {
    .data-row {
      align-items: center;
      text-align: center;
      .col-1 {
        width: 64px;
        font-size: 12px;
        font-weight: bold;
      }
      .col-2 { width: 42px; }
      .col-3 { width: 42px; }
      .col-4 { width: 42px; }
      .col-5 { width: 34px; }
      .col-6 { width: 38px; }

      &:not(.header-row) {
        .col-2, .col-3, .col-4, .col-5 { font-size: 14px; }
      }

      &.header-row {
        font-size: 12px;
        font-weight: bold;
      }
    }

    .stat-boost-select-list {
      margin-left: 3px;
    }

  }

  .pokemon-moves {
    .data-row {
      font-size: 14px;
      text-align: center;
      .col-1 { width: 138px; }
      .col-2 { width: 42px; }
      .col-3 { width: 38px; }
      .col-4 { width: 38px; }
      .col-5 { width: 75px; }
      .col-6 { width: 75px; }
      &.header-row {
        font-size: 12px;
        font-weight: 700;
      }
    }
  }

}

.pokemon-build-editor {
  .data-row {
    .data-row-label {
      width: 90px;
    }
  }
}

.pokemon-battle-state-editor {
  .data-row {
    .data-row-label {
      width: 100px;
    }
  }
}

.battle-field-state-editor {
  height: 100px;
  width: 100%;
  background-color: $showdown-light-blue;
  border: 1px solid $showdown-border-gray;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  .battle-field-state-section {
    padding: 5px;
    width: 33.3333%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &.blue-team-section {
      background: linear-gradient(to left, transparent, fade-out(blue, 0.90));
      .toggle-field { justify-content: flex-start; }
      .toggle-field-label { text-align: left; }
    }
    &.red-team-section {
      background: linear-gradient(to right, transparent, fade-out(red, 0.90));
      .toggle-field { justify-content: flex-end; }
      .toggle-field-label { text-align: right; }
    }

    &.blue-team-section, &.red-team-section {
      .toggle-field-label {
        width: 125px;
      }
    }

    &.global-section {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .toggle-field-label {
        width: 70px;
        text-align: center;
      }
      .toggle-select-list {
        width: 88px;
      }
    }

    .toggle-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 14px;
    }

  }
}

.pokemon-build-usage-data {

  font-size: 14px;
  // overflow-y: scroll;

  .section {
    &:not(:first-child) {
      margin-top: 5px;
    }
  }

  .usage-stat {
    display: flex;
    flex-direction: row;
    .usage-text {
      width: 85%;
      border-bottom: 1px solid $charcoal-ultra-light;
    }
    .usage-percentage {
      width: 15%;
      border-bottom: 1px solid $charcoal-ultra-light;
      text-align: right;
    }
  }

}

.move-coverage-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;

  .pokemon-display { width: 10%; }
  .pokemon-moves { width: 12%; }
  .pokemon-build { width: 13%; }

  .header-item, .data-item {
    text-align: center;
  }

  img.pokemon-image-asset {
    height: calc($pokemon-data-table-data-row-height * 0.85);
  }

  .header-row {
    width: 100%;
    height: $pokemon-data-table-header-row-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $serebii-green;
    color: $charcoal-ultra-light;
  };

  .data-row {
    font-family: "Verdana";
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    .data-item {
      &.pokemon-display {
        font-size: 15px;
      }

      &.pokemon-moves {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        border-left: 1px solid $charcoal-light;

        .pokemon-move {
          height: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;

          &:not(:last-child) {
            border-bottom: 1px solid $charcoal-light;
          }
        }
      }

      &.pokemon-build {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        border-left: 1px solid $charcoal-light;

        .pokemon-damage-calc {
          height: 25%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          font-size: 14px;
          &.guaranteed-one-hit-ko { background-color: darken($good-type-interaction-background, 12.5%); }
          &.guaranteed-two-hit-ko { background-color: lighten($good-type-interaction-background, 2.5%); }
          // &.low-damage { background-color: $bad-type-interaction-background; }
          // &.no-damage { background-color: lighten($charcoal-ultra-light, 8%); }

          &:not(:last-child) {
            border-bottom: 1px solid $charcoal-light;
          }
        }
      }
    }
  }

}

.pokemon-speed-tiers-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 32%;

  .pokemon-image, .pokemon-image-display { width: 30%; }
  .pokemon-ident { width: 40%; }
  .pokemon-speed { width: 30%; }

  .header-item, .data-item {
    text-align: center;
  }

  img.pokemon-image-asset {
    height: calc($pokemon-data-table-data-row-height * 0.85);
  }

  .header-row {
    width: 100%;
    height: $pokemon-data-table-header-row-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $serebii-green;
    color: $charcoal-ultra-light;
  };

  .data-row {
    width: 100%;
    height: $pokemon-data-table-data-row-height;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    &.blue-team {
      background-color: lighten(blue, 30%);
    }
    &.red-team {
      background-color: lighten(red, 30%);
    }
  }
}

.pokemon-team-resistances-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  .resistances-column {
    width: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .header-row {
      width: 100%;
      height: $pokemon-data-table-header-row-height;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $serebii-green;
      color: $charcoal-ultra-light;
    };

    .display-row {
      height: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      &.title { border-left: 1px solid black; }

      &.resistance-0 {
        background-color: $no-type-interaction-background;
        color: $no-type-interaction-font;
        font-weight: bold;
      }

      &.resistance-0\.25 {
        background-color: $good-type-interaction-background;
        color: $good-type-interaction-font;
        font-weight: bold;
      }

      &.resistance-0\.5 {
        background-color: $good-type-interaction-background;
        color: $good-type-interaction-font;
      }

      &.resistance-2 {
        background-color: $bad-type-interaction-background;
        color: $bad-type-interaction-font;
      }

      &.resistance-4 {
        background-color: $bad-type-interaction-background;
        color: $bad-type-interaction-font;
        font-weight: bold;
      }

      &.overall-weak {
        background-color: $bad-type-interaction-background;
        color: $bad-type-interaction-font;
        font-weight: bold;
      }

      &.overall-strong {
        background-color: $good-type-interaction-background;
        color: $good-type-interaction-font;
        font-weight: bold;
      }
    }
  }
}

.battle-renderer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .battle-renderer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .pokemons {
      height: 360px;
      width: calc($battle-renderer-aspect-ratio * 360px);
      background-color: mistyrose;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
    }

    .player-pokemons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .enemy-pokemons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .side-pokemon {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      width: 115px;

      img.pokemon-image {
        width: 100%;
      }

      .pokemon-ident {}

      .hp-bar-container {
        width: 100%;
        height: 12px;
        min-height: 12px;
        background-color: white;
        .current-hp {
          background-color: green;
          height: 100%;
        }
      }

    }

    .side-field-state {
      width: 115px;
      padding-top: 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      &.player-field-state {
        align-items: flex-end;
      }
      &.enemy-field-state {
        align-items: flex-start
      }
    }

    .global-field-state {
      flex: 1;
      padding-top: 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .pokemon-battle-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 200px;
    background-color: rgba(50, 43, 64);

    .battle-action-section {
      width: 25%;
      &:not(:first-child) {
        border-left: 1px solid $charcoal-ultra-light;
      }

      .battle-actions {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .moves {
          cursor: pointer;
          height: 60%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }

        .switches {
          cursor: pointer;
        }

        .action {
          color: white;
          &:hover {
            background-color: rgba(219, 192, 67);
            color: black;
          }
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 10px;
        }
      }

      .selected-battle-action {
        color: black;
        font-weight: 600;
        background-color: lighten(firebrick, 5%);
        text-align: center;

        &.selecting-target {
          background-color: lighten(coral, 5%);
        }
      }

    }

  }

  .battle-log-renderer {
    max-height: 800px;
    padding-bottom: 50px;
    overflow-y: scroll;
    background-color: $showdown-light-blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 400px;
    .battle-turn-index, .battle-event {
      text-align: center;
    }
  }

  .battle-eval-bar-container {
    width: 20px;
    background-color: red;
    min-height: 460px;
    max-height: 460px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .battle-eval-bar {
      background-color: blue;
    }
  }

}

// SCREENS
// =====================
.screen.home-screen {
}

.screen.all-pokemon-screen {
  .query-input {
    width: 100%;
    border: 1px solid black;
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
  }

  .data-table-container {
    max-height: 2000px;
  }
}

.screen.pokemon-builder-screen {

}

.screen.team-builder-screen, .screen.team-editor-screen {
  padding-bottom: 1000px;

  .pokemon-select {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    input {
      width: 50%;
      height: 30px;
      text-align: center;
    }
    .pokemon-data-table-container {
      height: 100%;
      width: 50%;
    }
  }

  .pokemon-build-editor-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .pokemon-build-usage-data {
      margin-left: 20px;
    }
  }

  .team-display-container {
    input.team-name {
      height: 30px;
      width: 250px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 20px;
    }
  }

  .team-resistances-container {
    margin-top: 50px;
    width: 100%;
  }

}

.screen.damage-calculation-screen, .screen.team-matchup-screen {

  .battle-field-state-container {
    margin-left: 200px;
    margin-right: 205px;
    margin-bottom: 10px;
  }

  .content-section {
    min-height: 520px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .active-team-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 130px;

      select {
        width: 130px;
      }
    }

    .pokemon-battle-state {
      &.attacking-pokemon {
        margin-left: 10px;
      }
      &.defending-pokemon {
        margin-left: 10px;
      }
    }

  }

  .damage-calcs {
    margin-top: 25px;

    .move-damage-calc {
      display: flex;
      flex-direction: row;

      .col-1 {
        width: 120px;
      }

      .col-2 {
        width: 185px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

    }
  }

  .active-team-section {
    &.defending-team {
      margin-left: 10px;
    }
  }
}

.screen.team-matchup-screen {
  padding-bottom: 500px;
  .analysis-section {
    margin-top: 50px;
    min-height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .analysis-select-section {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 15px;

      select {
        height: 100%;
        margin-left: 10px;
        width: 200px;
      }

    }

    .analysis-section-content {
      .active-analysis-table-select-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 130px;

        select {
          width: 130px;
        }
      }
    }

  }

}

.screen.all-teams-screen {

}

.screen.import-team-screen {
  .import-section {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  textarea {
    border: 1px solid black;
    padding-top: 10px;
    padding-left: 10px;
    width: 800px;
    height: 600px;
  }
  .import-action {
    width: 250px;
  }
}
