// IMPORTS
// =====================

// COLORS
// =====================
$background-cream: #FDF9EE;
$charcoal-dark: #333333;
$charcoal-medium: #575757;
$charcoal-light: #7B7B7B;
$charcoal-ultra-light: #C2C2C2;
$emphasis-red: #B6000F;

$serebii-green: #507C36;
$showdown-light-blue: #F1F4F9;
$showdown-border-gray: #AAAAAA;

$bad-type-interaction-background: rgb(238, 202, 207);
$bad-type-interaction-font: rgb(142, 27, 21);
$good-type-interaction-background: rgb(207, 237, 209);
$good-type-interaction-font: rgb(43, 95, 23);
$no-type-interaction-background: rgb(174, 170, 170);
$no-type-interaction-font: rgb(0, 0, 0);

// GLOBALS
// =====================
body {
  margin: 0;
  padding: 0;
}

a, input, textarea {
  all: unset;
  display: block;
}

* {
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  border: 1px solid black;
}

h1, h2, h3, h4, h5, h6, p, hr, pre, a, input {
  margin: 0;
}

a, button {
  cursor: pointer;
}

hr {
  width: 100%;
}

.Container {
  min-height: 100vh;
  background-color: $background-cream;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.App {
  width: 100%;
  min-height: 100vh;
  max-width: 1280px;
  padding-left: 64px;
  padding-right: 64px;
  background-color: $background-cream;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-spacer {
  flex: 1;
}

// LAYOUTS
// =====================
$pokemon-data-table-header-row-height: 42px;
$pokemon-data-table-data-row-height: 60px;
$pokemon-number-cell-width: 7%;
$pokemon-image-cell-width: 5%;
$pokemon-ident-cell-width: 12%;
$pokemon-type-cell-width: 12%;
$pokemon-abilities-cell-width: 14%;
$pokemon-base-stats-cell-width: 50%;

// COMPONENTS
// =====================
.Header {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .branding {
    img.logo {
      width: 160px;
    }
  }

  .navigation-links {
    display: flex;
    flex-direction: row;
    .navigation-link {
      font-weight: 400;
      font-size: 16px;
      color: $charcoal-medium;
      &:not(:first-child) {
        margin-left: 22px;
      }
      &.selected {
        font-weight: 500;
        color: $charcoal-dark;
      }
    }
  }
}

.button {
  height: 48px;
  background-color: $charcoal-dark;
  &.inverted {
    background-color: $background-cream;
    border: 1px solid $charcoal-dark;
    .button-text { color: $charcoal-dark; }
  }
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .button-text {
    font-size: 16px;
    font-weight: 500;
    color: $background-cream;
  }
}

.pokemon-data-table {
  height: 100%;
  max-height: 2000px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: mistyrose;

  .pokemon-header-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: $pokemon-data-table-header-row-height;

    .pokemon-header-item {
      background-color: $serebii-green;
      line-height: $pokemon-data-table-header-row-height;
      text-align: center;
      font-weight: bold;
      color: $charcoal-ultra-light;

      &.pokemon-base-stats {
        line-height: calc(0.5 * $pokemon-data-table-header-row-height);
      }
    }

    .pokemon-header-item.index-number { width: $pokemon-number-cell-width; }
    .pokemon-header-item.pokemon-image { width: $pokemon-image-cell-width; }
    .pokemon-header-item.pokemon-ident { width: $pokemon-ident-cell-width; }
    .pokemon-header-item.pokemon-type { width: $pokemon-type-cell-width; }
    .pokemon-header-item.pokemon-abilities { width: $pokemon-abilities-cell-width; }
    .pokemon-header-item.pokemon-base-stats {
      width: $pokemon-base-stats-cell-width;
      .pokemon-base-stats-secondary {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        .pokemon-base-stats-secondary-cell {
          width: 14.2857%;
        }
      }
    }
  }

  &.no-base-stats {
    .pokemon-header-item.index-number { width: $pokemon-number-cell-width * 2; }
    .pokemon-header-item.pokemon-image { width: $pokemon-image-cell-width * 2; }
    .pokemon-header-item.pokemon-ident { width: $pokemon-ident-cell-width * 2; }
    .pokemon-header-item.pokemon-type { width: $pokemon-type-cell-width * 2; }
    .pokemon-header-item.pokemon-abilities { width: $pokemon-abilities-cell-width * 2; }

    .pokemon-data-row {
      .index-number { width: $pokemon-number-cell-width * 2; }
      .pokemon-image-display { width: $pokemon-image-cell-width * 2; }
      .pokemon-ident { width: $pokemon-ident-cell-width * 2; }
      .pokemon-type-display { width: $pokemon-type-cell-width * 2; }
      .pokemon-abilities-display { width: $pokemon-abilities-cell-width * 2; }
    }
  }

  .pokemon-data-row {
    &.clickable {
      cursor: pointer;
      &:hover {
        background-color: $charcoal-light;
      }
    }
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: $pokemon-data-table-data-row-height;

    .index-number {
      width: $pokemon-number-cell-width;
      text-align: center;
    }
    .pokemon-image-display {
      width: $pokemon-image-cell-width;
      height: 100%;
      display: flex;
      flex-direction: center;
      justify-content: center;
      align-items: center;
      .pokemon-image {
        height: 80%;
      }
    }
    .pokemon-ident {
      width: $pokemon-ident-cell-width;
      text-align: center;
    }
    .pokemon-type-display {
      width: $pokemon-type-cell-width;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .pokemon-type:not(:first-child) {
        margin-left: 2.5px;
      }
    }
    .pokemon-abilities-display {
      width: $pokemon-abilities-cell-width;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    .pokemon-base-stats-display {
      width: $pokemon-base-stats-cell-width;
      display: flex;
      flex-direction: row;
      align-items: center;
      .base-stat {
        width: 14.2857%;
        text-align: center;
      }
    }

  }
}

.generic-data-table {
  height: 100%;
  max-height: 2000px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: mistyrose;

  .generic-header-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: $pokemon-data-table-header-row-height;

    .generic-header-item {
      width: 100%;
      background-color: $serebii-green;
      line-height: $pokemon-data-table-header-row-height;
      text-align: center;
      font-weight: bold;
      color: $charcoal-ultra-light;
    }
  }

  .generic-data-row {
    &.clickable {
      cursor: pointer;
      &:hover {
        background-color: $charcoal-light;
      }
    }
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 24px;
    height: 24px;
  }
}

.pokemon-team-display {

  .team-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p.team-name {
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input.team-name {
      height: 48px;
      text-align: center;
    }

  }

  .slots {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .slot {
      height: 100%;
      width: 16.6667%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .slot-title {
        text-align: center;
        margin-top: 10px;
      }

      .slot-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        img.pokemon-image {
          height: 100px;
        }
      }
    }
  }

  &.mode-index {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    .pokemon-index-item {
      cursor: pointer;
      width: 130px;
      height: 65px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid black;
      .pokemon-image {
        height: 70%;
      }
      .pokemon-ident {
        height: 30%;
      }
      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }

}

.pokemon-build-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 630px;
  height: 130px;

  p.input-label {
    font-size: 12px;
    font-weight: 700;
  }

  input {
    width: 100%;
    height: 24px;
    border: 0px;
    background-color: white;
    box-shadow: inset 0 1px 2px #ccc, 1px 1px 0 rgb(255 255 255 / 60%);
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .input-data {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 24px;
    border: 0px;
    background-color: #ddd;
    box-shadow: inset 0 1px 2px #ccc, 1px 1px 0 rgb(255 255 255 / 60%);
    border-radius: 2px;
  }

  .section-meta {
    width: 60%;
    background-color: coral;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    img {
      max-height: 100%;
    }

    .row {
      height: calc(100% / 3);
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: stretch;

      &.row-3 {
        .section {
          width: 100%;
          margin-left: 3px;
          &:last-child {
            margin-right: 3px;
          }
        }
      }
    }

    .section-details, .section-types {
      display: flex;
      flex-direction: row;
    }
  }

  .section-moves {
    width: 20%;
    background-color: skyblue;

    .move-input, .move-data {
      margin-top: 4px;
    }

  }
  .section-stats {
    width: 20%;
    background-color: mistyrose;
  }

  .section-actions {

  }
}

.pokemon-battle-state-editor {
  display: flex;
  flex-direction: column;
  width: 422px;
  height: 584px;
  padding: 10px;
  background-color: $showdown-light-blue;
  border: 1px solid $showdown-border-gray;
  &:not(:first-child) {
    margin-left: 5px;
  }

  .data-group:not(:first-child) {
    margin-top: 14px;
  }

  input {
    background-color: white;
    border-radius: 2px;
    border: 1px solid $showdown-border-gray;
  }

  .data-row-select-value {
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .data-row-label {
      width: 100px;
    }
  }

  .pokemon-meta {
    .data-row {
      height: 20px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .data-row-label {
        width: 100px;
      }
    }
  }

  .pokemon-stats {
    .data-row {
      height: 20px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      .col-1 {
        width: 64px;
        font-size: 12px;
        font-weight: bold;
      }
      .col-2 { width: 42px; }
      .col-3 { width: 42px; }
      .col-4 { width: 42px; }
      .col-5 { width: 34px; }
      .col-6 { width: 38px; }

      &:not(.header-row) {
        .col-2, .col-3, .col-4, .col-5 { font-size: 15px; }
      }

      &.header-row {
        font-size: 12px;
        font-weight: bold;
      }
    }

    .data-row-nature-select {
      margin-top: 10px;
    }
  }

  .pokemon-volatile-build-info {
  }

  .pokemon-moves {
    .data-row {
      height: 20px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      .col-1 { width: 138px; }
      .col-2 { width: 48px; }
      .col-3 { width: 42px; }
      .col-4 {
        width: 100px;
        font-size: 14px;
      }
    }
  }
}

.pokemon-team-resistances-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  .resistances-column {
    width: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .header-row {
      width: 100%;
      height: $pokemon-data-table-header-row-height;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $serebii-green;
      color: $charcoal-ultra-light;
    };

    .display-row {
      height: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      &.title { border-left: 1px solid black; }

      &.resistance-0 {
        background-color: $no-type-interaction-background;
        color: $no-type-interaction-font;
        font-weight: bold;
      }

      &.resistance-0\.25 {
        background-color: $good-type-interaction-background;
        color: $good-type-interaction-font;
        font-weight: bold;
      }

      &.resistance-0\.5 {
        background-color: $good-type-interaction-background;
        color: $good-type-interaction-font;
      }

      &.resistance-2 {
        background-color: $bad-type-interaction-background;
        color: $bad-type-interaction-font;
      }

      &.resistance-4 {
        background-color: $bad-type-interaction-background;
        color: $bad-type-interaction-font;
        font-weight: bold;
      }

      &.overall-weak {
        background-color: $bad-type-interaction-background;
        color: $bad-type-interaction-font;
        font-weight: bold;
      }

      &.overall-strong {
        background-color: $good-type-interaction-background;
        color: $good-type-interaction-font;
        font-weight: bold;
      }
    }
  }
}


// SCREENS
// =====================
.screen.home-screen {
}

.screen.all-pokemon-screen {
  .query-input {
    width: 100%;
    border: 1px solid black;
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
  }

  .data-table-container {
    max-height: 2000px;
  }
}

.screen.pokemon-builder-screen {

}

.screen.team-builder-screen {
  padding-bottom: 1000px;

  .pokemon-select {
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    input {
      width: 50%;
      height: 30px;
      text-align: center;
    }
    .pokemon-data-table-container {
      height: 100%;
      width: 50%;
    }
  }

  .team-display-container {
    margin-top: 50px;
  }

  .team-resistances-container {
    margin-top: 50px;
    width: 100%;
  }

}

.screen.damage-calculation-screen {
  .pokemon-battle-states {
    display: flex;
    flex-direction: row;
  }

  .damage-calcs {
    margin-top: 25px;

    .move-damage-calc {
      display: flex;
      flex-direction: row;

      .col-1 {
        width: 120px;
      }

      .col-2 {
        width: 120px;
      }

      .col-3 {
        width: 120px;
      }
    }

  }
}

.screen.all-teams-screen {

}
